.events {
    margin-bottom: 81px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
}

.events__heading {
    margin-bottom: 20px;
}

.events-swiper {
    padding-top: 0;
    height: max-content;
}

.slider3 {
    justify-content: initial;
    flex-wrap: nowrap;
}

.events__card {
    position: relative;
    width: 500px;
    height: 700px;
    margin-bottom: 50px;
    flex-shrink: 0;
    border: 1px solid #cacaca;
    box-sizing: border-box;
}

.events__card:not(:nth-child(3n)) {
    margin-right: 50px;
}

.btn-click {
    display: none;
}

.events-span {
    position: relative;
    display: block;
    line-height: 16px;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    color: #999;
}

.events__card-heading {
    margin-bottom: 5px;
    line-height: 33px;
    font-weight: 600;
    font-size: 24px;
}

.events__text {
    display: block;
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333;
}

.events__card-info {
    padding: 14px 17px 89px 50px;
}

.events__btn {
    display: block;
    position: absolute;
    border: 2px solid #fff;
    border-bottom: 1px solid  #9d5cd0;
    bottom: 38px;
    padding: 0;
    padding-bottom: 3px;
    line-height: 23px;
    color: #9d5cd0;
    background: transparent;
    cursor: pointer;
    transition: border .4s linear, color .4s linear, background .4s linear,  border-bottom .4s linear;
}
  
.events__btn:hover,
.events__btn:active {
    color: #7943a4;
    transition: color .4s linear; 
}

.events__btn:hover {
    text-shadow: 0 0 .6px #7943a4, 0 0 .6px #7943a4;
    transition: text-shadow .4s linear
}

.events__btn:focus {
    outline: 2px solid #7943a4;
    transition: outline .4s linear;
}

.toggler-btn {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    color: #9d5cd0;
    background-color: transparent;
    padding: 19px 35px;
    border: 2px solid #9d5cd0;
    border-radius: 30px;
    transition: border .4s linear, color .4s linear;
}

.toggler-btn:hover {
    color:#fff;
    background-color:#9d5cd0;
    transition: background-color .4s linear, color .4s linear;
}

.toggler-btn:active {
    border:2px solid #d1a9f0;
    background-color:#7943a4;
    transition: background-color .4s linear, border .4s linear;
}

.toggler-btn:focus {
    border:2px solid #d1a9f0;
    color:#fff;
    background-color:#9d5cd0;
    transition: background-color .4s linear, border .4s linear, color .4s linear;
}

@media (max-width: 1920px) {
    .events__card {
        width: calc(267px + 233.5*(100vw - 1025px)/895);   
    }

    .events__text {
        width: calc(222px + 178*(100vw - 1025px)/895);
    }

    .events__card:not(:nth-child(3n)) {
        margin-right: calc(26.5px + 22.5*(100vw - 1025px)/895);
    }

    .events__card-info {
        padding: 14px 17px 89px 2.6vw;
    }
}

@media (max-width: 1024px) {
    .events-swiper {
        width: calc(700px + 225*(100vw - 769px)/255);
    }

    .events__img {
        width: 100%;
        height: 200px;
    }

    .events-span {
        margin-top: -3px;
    }

    .events__card {
        width: calc(217.4px + 72.87*(100vw - 769px)/255);
        height: 683px;
    }

    .events__card-heading {
        width: calc(178px + 62*(100vw - 769px)/255);
        font-size: calc(18px + 6*(100vw - 769px)/255);
    }

    .events__card:nth-child(even) {
        margin-right: 27px;
    }

    .events__card-info {
        padding: 16px 17px 89px 35px;
    }

    .events__text {
        width: calc(175px + 47*(100vw - 769px)/255);
        font-size: calc(12px + 4*(100vw - 769px)/255);
    }

    .events__btn {
        bottom: 49px;
    }
}

@media (max-width: 768px) {
    .events {
        margin-bottom: 85px;
    }

    .events-swiper {
        width: calc(530px + 138*(100vw - 600px)/168);
    }

    .events__card-info {
        padding: 15px 17px 89px 33px;
    }

    .events-span {
        margin-bottom: 0;
    }

    .events__card {
        width: calc(248px + 69*(100vw - 600px)/168);
    }

    .events__card:nth-child(even) {
        margin-right: 0;
    }

    .events__card:nth-child(odd) {
        margin-right: 34px;
    }

    .events__img {
        width: 317px;
        height: 200px;
    }

    .events-span {
        margin-bottom: 3px;
    }

    .events__card-heading {
        margin-bottom: 2px;
        width: calc(200px + 55*(100vw - 600px)/168);
        font-size: calc(20px + 4*(100vw - 600px)/168);
    }

    .events__text {
        width: calc(200px + 43*(100vw - 600px)/168);
        font-size: 16px;
        line-height: calc(26px + 6*(100vw - 600px)/168);
    }

    .events__btn {
        bottom: 48px;
    }
}

@media (max-width: 600px) {
    .events {
        margin-bottom: 46px;
    }

    .events-swiper {
        width: calc(290px + 240*(100vw - 321px)/279);
        margin: 0 auto;
    }

    .events__img {
        width: 100%;
    }

    .events__card-heading {
        margin-bottom: 37px;
        font-size: 24px;
        width: calc(250px + 75*(100vw - 321px)/279);;
    }

    .events__text {
        width: calc(235px + 115*(100vw - 321px)/279);
        line-height: 32px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin-right: 15px;
        background: #666;
        opacity: .2;
    }

    .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        background: #666;
        opacity: 1;
    }

    .toggler-btn {
        display: none;
    }

    .events-pagination {
        position: static;
        margin-top: -34px;
        transition: .3s opacity;
        transform: translateX(7px);
        z-index: 10;
    }   
}

@media (max-width: 375px) {
    .events__heading {
        margin-bottom: 15px;
    }
    
    .events-swiper {
        width: 290px;
    }
    
    .events__img {
        width: 290px;
        height: 200px;
    }

	.events__card {
        height: 683px;
    }

    .events__card-heading {
        margin-bottom: 37px;
    }

    .events__text {
        width: 235px;
    }

    .events__btn {
        bottom: 50px;
    }

    .events__card-info {
        padding: 13px 14px 89px 27px;
    }

    .events-span {
        margin-bottom: 3px;
    }
}