.header {
    position: relative;
    flex-direction: column;
    display: flex;
    z-index: 2;
}

.header__content-first {
    background-color: #000;
    width: 100%;
}

.header__container-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 30px;
}

.header__logo {
    width: 173px;
}

.navigation__list {
    display: flex;
}

.burger {
    display: none;
}

.header-btn {
    display: flex;
    align-items: center;
    padding: 0;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 18px;
    z-index: 2;
}

.header__menu {
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.header__container-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content-second {
    background: rgba(0, 0, 0, .4);
}

.header__simplebar {
    width: 260px;
    max-height: 240px;
}

.header__list-btn.menu-active .header__simplebar-content {
    opacity: 1;
    visibility: visible;
    transition: opacity .6s linear, visibility .6s linear;
}

.header__list-btn {
    position: relative;
    padding: 21px 0;
}

.header__simplebar-content {
    position: absolute;
    top: 100%;
    opacity: 0;
    display: block;
    visibility: hidden;
    padding: 40px 0 40px 40px;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity .6s linear, visibility .6s linear;
}

.navigation {
    margin-right: 280px;
}

.navigation__item:not(:last-child) {
    margin-right: 62px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__item {
    font-size: 18px;
}

.header__navigation{
    display: flex;
    align-items: center;
    z-index: 11;
}

.header__list {
    display: flex;
    align-items: center;
    margin-right: 221px;
}

.header__style {
    background-color: transparent;
    border: 2px solid transparent;
    margin-right: 82px;
    transition: background-color .4s linear, border .4s linear;
}

.header__style::after {
    content: "";
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 7px;
    border-color: #fff;
    border-bottom: 1px solid;
    border-left: 1px solid;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    transition: border-color .4s linear;  
}

.header__list-btn.menu-active .header__style::after {
    transform: rotate(135deg);
    margin-bottom: -1px;
}
.header__style:hover {
    color: #9d5cd0;
    border: 2px solid #9d5cd0;
    transition: color .4s linear, border .4s linear;
}

.header__style:focus {
    color: #7943a4;
    border: 2px solid #7943a4; 
    transition: color .4s linear, border .4s linear;
}

.header__artist:hover {
    transition: .4s linear;
}

.header__artist:focus {
    outline: 1px solid #d1a9f0;
    background-color: #d1a9f0;
    opacity: .4;
    transition: outline .4s linear, opacity .4s linear, background-color .4s linear;
}

.header__style,
.header__artist {
    display: flex;
    align-items: center; 
    color: #fff; 
    font-size: 18px;
    text-decoration: none;
}

.simplebar-content-wrapper {  /*позволит читать контент, если не подключен js*/
    overflow: auto;
}

.simplebar-scrollbar:before {
    background: #9d5cd0;
    border-radius: 0;
    opacity: 1;
    height: auto;
    width: 2px;
    transition: .3s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
    transition: .3s linear;
}

.simplebar-track.simplebar-vertical {
    right: 15px;
    height: 220px;
    width: 2px;
    background-color: #000;
}

.simplebar-scrollbar:before {
    left: 0;
    top: 0;
}

nav ul ul ul {
    position: absolute; 
}

.header__pic {
    position: relative;
    margin-bottom: 20px;
    width: 220px;
    height: 40px;
    font-weight: 600;
    border: 2px solid transparent;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    transition:.4s linear;
}

.header__pic:nth-child(1),
.header__pic:nth-child(5) {
    background-image: url('../img/pic.jpg');
}

.header__pic:nth-child(2),
.header__pic:nth-child(6) {
    background-image: url('../img/pic2.jpg');
}

.header__pic:nth-child(3),
.header__pic:nth-child(7) {
    background-image: url('../img/pic3.jpg');
}

.header__pic:nth-child(4),
.header__pic:nth-child(8) {
    background-image: url('../img/pic4.jpg');
}

.header__artist {
    position: absolute;
    left: 0;
    top: 0; 
    display: block;
    padding: 7px 0 13px 20px;
    width: 200px;
    color: #fff;
    transition: .4s;
}

.header__pic:hover {
    border: 2px solid #9d5cd0;
    transition: border .4s linear;
}

.header__pic:focus {
    background: linear-gradient(0deg, rgba(194, 131, 243, .4), rgba(194, 131, 243, .4)), url(.jpg);
    border: 2px solid #D1A9F0;
    box-sizing: border-box;
    transition: background .4s linear, border .4s linear;
}

.search-lupe {
    width: 23px;
    height: 23px;
    transform: translateY(5px);
    margin-right: 5px;
}


.header__search-input {
    width: 218px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
}

.header__form-search {
    margin-right: 0;
}

.header__form-search:focus-within {
    outline:2px solid #9d5cd0;
    transition: outline .4s linear;
}

.header__search-input::placeholder {
    color: #fff;
}

.navigation__link {
    color: #fff;
    font-weight: 600;
    transition:color .4s linear;
}

.navigation__link:hover {
    color: #C283F3;
    transition:color .4s linear;
}

.navigation__link:active {
    color: #7943a4;
    transition:color .4s linear;
}

.navigation__link:focus {
    outline: 1px solid #7943a4;
    transition:outline .4s linear;
}

.header__search-btn {
    padding: 0;
    display: block;
    background: none;
    border: none;
}

.header-btn svg {
    margin-right: 7px;
    transition: .4s linear;
}

.header-btn {
    color:#fff;
    transition:color .4s linear;
}

.header-btn:hover {
    color:#9d5cd0;
    transition:color .4s linear;
}

.header-btn:hover svg path {
    fill:#9d5cd0;
    transition:fill .4s linear;
}

.header-btn:active {
    color:#7943a4;
    transition:color .4s linear;
}

.header-btn:active svg {
    fill:#7943a4;
    transition:fill .4s linear;
}

.header-btn:focus {
    outline: 1px solid #7943a4;
    transition:outline .4s linear;
}

.header__form-search {
    display: flex;
    position: relative;
    
}
  
.header__form-search .header__search-input:hover {
    border-bottom:1px solid #9d5cd0;
    transition:border-color .4s linear;
}

.search-lupe:hover rect {
    fill: #9D5CD0;
    transition:fill .4s linear;
}
.search-lupe:hover path {
    fill: #9D5CD0;
    transition:fill .4s linear;
}

.search-lupe:focus rect {
    fill: #9D5CD0;
    transition:fill .4s linear;
}
.search-lupe:focus path {
    stroke: #9D5CD0;
    transition:stroke .4s linear;
}

.header__search-input::placeholder {
    color: #fff;
}

.header__form-search:focus-within {
    transition: .4s linear;
}

.header__btn:focus {
    background-color:#9d5cd0;
    border:3px solid #7943a4;
    transition: border .4s linear, background-color .4s linear;
}

.header__btn:hover,
.header__btn:active {
    background-color:#7943a4;
    border:3px solid #d1a9f0;
    transition: border .4s linear, background-color .4s linear;
}

.search-close {
    display: none;
}

@media (max-width: 1920px) {
    .header-btn {
        font-size: calc(0.75rem + 6*(100vw - 1025px)/895);
    }

    .header__search-input {
        font-size: calc(0.75rem + 6*(100vw - 1025px)/895);
    }

    .navigation {
        margin-right: calc(35px + 245*(100vw - 1025px)/895);
    }

    .navigation__item:not(:last-child) {
        margin-right: 3.23vw;
    }

    .navigation__item:last-child {
        margin-right: 0;
    }

    .navigation__item {
        font-size: calc(0.75rem + 6*(100vw - 1025px)/895);
    }

    .header__list {
        margin-right: calc(11.5*(100vw - 1025px)/895);
    }

    .header__style {
        margin-right: calc(20px + 62*(100vw - 1025px)/895);
    }
    
    .header__style,
    .header__artist {
        font-size: calc(0.75rem + 6*(100vw - 1025px)/895);
    }

    .header__search-input {
        width: 11.35vw;
    }
}
 

@media (max-width: 1024px) {
    .header__container-first {
        justify-content: start;
        padding-bottom: 28px;
    }

    .burger{
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 31px;
        padding: 0;
        margin: 0;
        margin-right: calc(200px + 128*(100vw - 769px)/255);
        text-align: left;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    .burger > span{
        position: absolute; 
        height: 3px;
        background-color: #fff;
    }

    .burger > span#sp1 {
        top: 0;
        width: 85%;
        transition: width .3s linear, top .3s linear;
    }

    .burger > span#sp2 {
        top: 12px;
        width: 65%;
        transition: width .3s linear, top .3s linear;
    }

    .burger > span#sp3 {
        top: 24px;
        width: 52%;
        transition: width .3s linear, top .3s linear;
    }

    .burger.active > span#sp1{
        width: 0;
        background-color: transparent;
        transition: width .3s linear, top .3s linear, background-color .3s linear;   
    }

    .burger.active > span#sp2{
        width: 86%;
        top: 74px;
        transform: translateY(-60px) rotateZ(45deg);
        transition: width .3s linear, top .3s linear, transform .3s linear;
    }

    .burger.active > span#sp3{
        width: 88%;
        top: 98px;
        transform: translateY(-85px) rotateZ(-45deg);
        transition: width .3s linear, top .3s linear, transform .3s linear;
    }

    .header__logo {
        width: 187px;
        margin-right: calc(240px + 92*(100vw - 769px)/255);
        transition: margin-right .2s linear;
    }

    .header__logo.active-search {
        margin-right: calc(240px + 100*(100vw - 769px)/255 - (calc(215px + 76*(100vw - 769px)/255)));
        transition: margin-right  .4s linear;
    }

    .header__navigation {
        display: none;
    }

    .header__menu {
        display: block;
        position: absolute;
        padding-top: 115px;
        padding-left: 49px;
        width: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: visibility .3s, opacity .3s linear;
    }

    .show {
        opacity: 1;
        visibility: visible;
    }

    .header__search-input::placeholder {
        color: transparent;
    }

    .header__form-search {
        width: 30px;
    }

    .header__form-search.active-search {
        width: calc(215px + 76*(100vw - 769px)/255);
    }

    .header__search-input {
        width: 0;
        padding: 0;
        outline: none;
    }

    .header__search-btn {
        margin-right: 10px;
    }

    .header__search-input.active-search {
        width: calc(185px + 76*(100vw - 769px)/255);
        transition: width .4s .2s linear;
    }

    .search-lupe {
        margin-right: 0px;
    }

    .navigation {
        margin-bottom: 130px;
    }

    .navigation__list {
        display: block;
    }

    .navigation__item {    
        margin-bottom: 37px;
        letter-spacing: .5px;
    }

    .navigation__link {
        font-size: 24px;
        font-weight: 400;
    }

    .header-btn {
        color: #fff;
        background: transparent;
        font-size: 18px;
        border: 2px solid #9d5cd0;
        border-radius: 100px;
        margin-bottom: 50px;
        padding: 19px 89px;
        z-index: 2;
    }

    .search-lupe {
        width: 30px;
        height: 45px;
    }
    
}

@media (max-width: 768px) {
    .header__container-first {
        padding-bottom: 27px;
    }

    .burger {
        margin-right: calc(77px + 123*(100vw - 321px)/447);
    }

    .header__logo {
        width: calc(103px + 84*(100vw - 321px)/447);
    }

    .header__logo.active-search, .burger.burger.active-search {
        display: none;
    }

    .header__form-search.active-search {
        width: calc(242px + 385*(100vw - 321px)/447);
        margin-right: 4px;
        transition: width .4s linear;
    }

    .header__search-input.active-search {
        width: calc(192px + 405*(100vw - 321px)/447);
        margin-right: 10px;
        transition: width .4s linear;
    }

    .header__logo {
        margin-right: calc(80px + 131*(100vw - 320px)/447);
    }

    .burger > span{
        height: 3px;
    }

    .burger > span#sp1{
        top: 0;
        width: 90%;
        transition: top .3s linear, width .3s linear;
    }

    .burger > span#sp2{
        top: 12px;
        width: 70%;
        transition: top .3s linear, width .3s linear;
    }

    .burger > span#sp3{
        top: 24px;
        width: 60%;
        transition: top .3s linear, width .3s linear;
    }

    .burger.active > span#sp1{
        background-color: transparent;
        transition: background-color .3s linear, width .3s linear;
    }

    .burger.active > span#sp2{
        width: 90%;
        top: 72px;
        background-color: #fff;
        transform: translateY(-60px) rotateZ(45deg);
        transition: background-color .3s linear, width .3s linear, top .3s linear, transform .3s linear;
    }
    
    .burger.active > span#sp3{
        width: 90%;
        top: 97px;
        background-color: #fff;
        transform: translateY(-85px) rotateZ(-45deg);
        transition: background-color .3s linear, width .3s linear, top .3s linear, transform .3s linear;
    }

    .header-btn {
        display: flex;
        align-items: center;
        color: #fff;
        background: transparent;
        font-size: 18px;
        z-index: 2;
    }

    .search-close.active-search {
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        transform: translateY(-2px);
    }

    .search-close-svg {
        width: 45px;
        height: 45px;
    }

    .search-close:active svg path  {
        fill: #9d5cd0;
        transition:fill .4s linear;
    }
}

@media (max-width: 375px) {
    .header__container-first {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .search-close.active-search {
        position: relative;
        display: block;
        width: 26px;
        height: 26px;
        right: -93%;
        transform: translateY(0px);
    }

    .header__search-input.active-search {
        width: 182px;
        margin-right: 0;
        transition: width .4s linear;
    }

    .header__form-search.active-search {
        position: absolute;
        padding-top: 65px;
        padding-bottom: 19px;
        padding-left: 57px;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.4); 
        backdrop-filter: blur(15px);
    }

    .search-close-svg {
        width: 26px;
        height: 26px;
    }

    .burger{
        width: 24px;
        height: 20px;
    }

    .burger > span{
        height: 2px;
    }

    .burger > span#sp1{
        top: 0;
        width: 100%;
        transition: width .3s linear, top .3s linear;
    }

    .burger > span#sp2{
        top: 7px;
        width: 73%;
        transition: width .3s linear, top .3s linear;
    }

    .burger > span#sp3{
        top: 14px;
        width: 58%;
        transition: width .3s linear, top .3s linear;
    }

    .burger.active > span#sp1{
        width: 0;
        background-color: transparent;
        transition: width .3s linear, top .3s linear, background-color .3s linear;   
    }

    .burger.active > span#sp2{
        width: 82%;
        top: 70px;
        transform: translateY(-60px) rotateZ(45deg);
        transition: width .3s linear, top .3s linear, transform .3s linear;
    }

    .burger.active > span#sp3{
        width: 87%;
        top: 95px;
        transform: translateY(-85px) rotateZ(-45deg);
        transition: width .3s linear, top .3s linear, transform .3s linear;
    }

    .header__menu {
        padding-top: 51px;
        padding-left: 15px;
    }

    .navigation {
        margin-bottom: 24px;
    }

    .navigation__item {    
        margin-bottom: 14px;
    }

    .navigation__link {
        font-size: 16px;
    }

    .header-btn {
        margin-bottom: 26px;
        padding: 11px 29px;
        font-size: 14px;
    }

    .header-btn svg {
        margin-right: 2px;
        width: 10px;
        height: 10px;
    }

    
    .header__form-search {
        width: 17px;
    }

    .search-lupe {
        width: 17px;
        height: 17px;
        transform: translateY(3px);
    }

    .header__form-search {
        margin-right: 0;
    }

    .search-close {
        display: none;
    }

}

