
.project-link:hover,
.project-link:active {
  border-bottom: 1px solid #9d5cd0;
  transition: border-bottom .4s linear;
}

.project-link:focus {
  border: 1px solid #7943A4;
  transition: border .4s linear;
}

.project-link {
  position: relative;
  display: inline-block;
  color: #9d5cd0;
  border: 1px solid transparent;
  letter-spacing: .3px;
  transition: border .4s linear, color .4s linear;
}
  
.tooltip-toggle {
  position: relative;
  display: inline-block;
  outline: transparent;
  cursor: pointer;
}

.tooltip-toggle:focus {
  outline: none;
}

.projects__tooltip {
  position: relative;
  top: 3px;
  display: inline-block;
}

.tooltip-toggle:hover svg,
.tooltip-toggle:focus svg{
  fill: #9d5cd0;
  transition: fill .3s linear;
}

.tooltip-toggle:hover svg .letter,
.tooltip-toggle:focus svg .letter {
  fill: #fff;
  transition: fill .3s linear;
}

.tooltip-toggle:hover::before, .tooltip-toggle:hover::after,
.tooltip-toggle:focus::before, .tooltip-toggle:focus::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}



.tooltip-toggle::before {
  content: attr(data-label);
  position: absolute;
  padding: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #cacaca;
  pointer-events: none;
}

.tooltip-toggle::before, .tooltip-toggle::after {
  text-align: center;
  opacity: 0;
  transition: opacity .3s linear;
}

.tooltip1::before {
  left: 50%;
  top: -62px;
  width: 265px;
  transform: translateX(-50%);
}

.tooltip2::before {
  left: 50%;
  top: -78px;
  width: 265px;
  transform: translateX(-50%);
}

.tooltip3::before {
  left: 50%;
  top: -46px;
  width: 232px;
  transform: translateX(-50%);
}

.tooltip1::after {
  top: -11px;
}

.tooltip-toggle::after {
  content: " ";
  position: absolute;
  left: 2px;
  top: -13px;
  margin-left: -5px;
  border-top: 11px solid #cacaca;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
}


.project-swiper {
  margin-left: 85px;
  margin-right: auto;
}

.partners-button {
  position: relative;
}

.partners-button-prev,
.partners-button-next {
  position: absolute;
  background-color: #ececec;
  border-radius: 100%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
  transition: .4s linear;
}

.partners-button-prev:hover,
.partners-button-next:hover {
  background-color: #9D5CD0;
  transition: background-color .4s linear;
}

.partners-button-prev {
  background-image: url('../img/partnerPrev.svg');
}
.partners-button-next {
  background-image: url('../img/patnerNext.svg');
}

.partners-button-disabled {
  opacity: .45;
  cursor: auto;
  pointer-events: none;
}

.partners-img {
  width: 100%;
  height: 100%;
  opacity: .5;
  filter: grayscale(100%);
  transition: opacity .3s linear;
}

.partners-img:hover,
.partners-img:active {
  opacity: 1;
  filter: none;
  transition: opacity .3s linear;
}

@media (min-width: 320px) {
  .project__heading {
    margin-bottom: 15px;
  }

  .project__text {
    margin-bottom: 16px;
    width: 290px;
    line-height: 32px;
  }

  .project-swiper {
    width: 195px;
    margin-left: 47px;
    padding-top: 18px;
  }

  .project-slider {
    height: 65px;
  }

  .partners-heading {
    font-size: 17px;
    letter-spacing: .3px;
  }

  .partners-button-prev,
  .partners-button-next {
    width: 30px;
    height: 30px;
    top: -50px;
    background-size: 12px 12px;
  }

  .partners-button-next {
    right: 0;
  }
}

@media (min-width: 768px) {
  .project__heading {
    margin-bottom: 21px;
  }

  .project-swiper {
    width: 562px;
    margin-left: 53px;
    padding-top: 29px;
  }

  .project-slider {
    height: 106px;
  }

  .project__text {
    margin-bottom: 25px;
    width: 659px;
  }

  .tooltip {
    bottom: 120%;
    left: -90px;
    min-width: 228px;
    padding: 8px 14px;
  }

  .partners-heading {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .partners-button-prev,
  .partners-button-next {
    top: -65px;
  }

  .partners-button-next {
    right: 0;
  }

}

@media (min-width: 1024px) {
  .project {
    margin-top: 85px;
  }

  .project__text {
    margin-bottom: 18px;
    width: 925px;
  }

  .project-swiper {
    width: 818px;
    margin-left: 54px;
    padding-top: 25px;
  }

  .project-slider {
    height: 128px;
  }

  .partners-button-prev,
  .partners-button-next {
    top: -79px;
  }

  .partners-heading {
    font-weight: 400;
    letter-spacing: .3px;
}

}

@media (min-width: 1920px) {
  .project__text {
    width: 1080px;
    margin-bottom: 22px;
  }

  .tooltip::after {
    left: 114px;
  }

  .project-swiper {
    width: 1450px;
    margin-left: 75px;
  }

  .project-slider {
    height: 150px;
  }

  .partners-button-prev,
  .partners-button-next {
    width: 30px;
    height: 30px;
    top: -90px;
  }

  .partners-button-next {
    right: -2px;
  }
}