.publications__content {
    position: relative;
}

.publications-container {
    display: flex;
}

.publications__heading {
    color: #fff;
}

.publications__left {
    display: flex;
    flex-direction: column;
}

#check1, #check2, #check3,
#check4, #check5, #check6, #check7, #check8, #check9, #check10, #check11, #check12 {
    opacity: 0;
    position: absolute;
}

.publications__form-label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.publications__form-price {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.publications__form-choice {
    display: flex;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 6px;
    width: 277px;
    height: 40px;
    box-sizing: border-box;
}

.publications__form-input {
    border: none;
    width: 52px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: rgba(157, 92, 208, 0.5);
}

.publications__form-input::placeholder {
    color: #fff;
}

.publications__form-input:focus {
    outline: 2px solid #7943A4;
}

.publications__right {
    position: relative;
}

.publications__card-heading {
    font-weight: 600;
    color: #fff;
}

.publications__text {
    font-weight: 400;
    color: #fff;
}

.publications__btn {
    display: block;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition:background-color .4s linear;
}

.publications__btn:hover,
.publications__btn:active {
    background-color: #9d5cd0;
    transition:background-color .4s linear;
}

.publications-slider {
    display: block;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.publications-slide1 {
    background: url('../img/publications1920-1.jpg') no-repeat;
    background-size: cover;
}
    
.publications-slide2 {
    background: url('../img/publications1920-2.jpg') no-repeat; 
    background-size: cover;  
}
    
.publications-slide3 {
    background: url('../img/publications1920-3.jpg') no-repeat;
    background-size: cover;
}

.publications-slide4 {
    background: url('../img/publications1920-4.jpg') no-repeat;
    background-size: cover;
}

.publications-slide5 {
    background: url('../img/publications1920-5.jpg') no-repeat;
    background-size: cover;
}

.publications-slide6 {
    background: url('../img/publications1920-6.jpg') no-repeat;
    background-size: cover;
}

.publications-slide7 {
    background: url('../img/publications1920-7.jpg') no-repeat;
    background-size: cover;
}

.publications__checkbox-content {
    display: flex;
}

.publications-slider-button {
    display: flex;
    align-items: center;
}

.publications-button-prev,
.publications-button-next {
    background-color: #666;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    position: static;
    z-index: 11;
    transition: background-color .4s linear, border .4s linear;
}

.publications-button-prev {
    background-image: url('../img/prev.svg');
}
.publications-button-next {
    background-image: url('../img/next.svg');
}

.publications-button-prev,
.publications-button-next{
    border: 2px solid transparent; 
    transition:background-color .4s linear;
}

.publications-button-prev:hover,
.publications-button-next:hover {
    background-color: #7943a4; 
    transition:background-color .4s linear;
}

.publications-button-prev:active,
.publications-button-next:active {
    border: 2px solid #d1a9f0;
    background-color: #7943a4;
    transition: border .4s linear, background-color .4s linear; 
}

.publications-button-prev:focus,
.publications-button-next:focus {
    border: 2px solid #7943a4;
    transition: border .4s linear; 
}

.checkbox-list {
    display: flex;
    flex-direction: column;
}

.input-check:focus + .checkbox-text {
    outline: 2px solid #7943a4;
}

.checkbox-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid currentColor;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
}

.checkbox-text::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: transparent;
    transform: translate(-50%,-50%);
}

.checkbox-text {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
    transition: color .3s linear;
}

.input-check:checked + .checkbox-text {
    color: #9d5cd0;
    transition: color 0.3s linear;
}

.input-check:checked + .checkbox-text::after {
    background-color: #9d5cd0;
    transition: background-color 0.3s linear;
}

.checkbox-text:hover {
    color: #c283f3;
    transition: color .4s linear;
}

.checkbox-text:active {
    color: #7943a4;
    transition: color .4s linear;
}

.label:first-child {
    border-top: none;
}

.categories {
    display: block;
    position: relative;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 100%;
    text-align: left;
    cursor: text;
    transition:background-color .4s linear;
}

.categories::before {
    content:"";
    position: absolute;
    right: 4px;
    margin-top: 3px;
    margin-left: 4px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
}

.publications-span {
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: 38px;
}


@media (min-width: 320px) {
    .publications {
        margin-bottom: 53px;
    }

    .publications__left {
        padding-top: 53px;
    }

    .publications__heading {
        margin-bottom: 15px;
        color: #fff;
    }

    .categories {
        margin-bottom: 8px;
        padding: 11px 0;
    }

    .checkbox-select {
        margin-bottom: 10px;
    }

    .publications__form {
        margin-bottom: 5px;
    }

    .publications__form-price {
        margin-bottom: 14px;
    }

    .publications-container {
        flex-direction: column;
    }

    .checkbox-list-item {
        position: relative;
        display: block;
        margin-bottom: 5px;
        padding-bottom: 5px;
        width: 290px;
        color:#fff;
        border-bottom:1px solid rgba(255,255,255,0.5);
        transition: color .4s linear;
    }

    .publications-swiper {
        padding-bottom: 207px;
    }

    .publications__content {
        background: url('../img/publications320.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }

    .publications .slider-button,
    .publications .swiper-pagination-fraction {
        display: none;
    }

    .publications-slider {
        width: 130px;
        height: 143px;
    }

    .publications-slider:nth-child(odd) {
        margin-right: 30px;
    }

    .publications-slider:nth-child(n+3) {
        margin-top: 161px;
    }

    .slider4 {
        flex-wrap: wrap;
        top: 47px;
    }

    .publications__card-heading {
        width: 130px;
        padding-top: 120%;
        margin-bottom: 3px;
        font-size: 12px;
        letter-spacing: .3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .publications-span {
        top: 132%;
    }
    
    .publications__text {
        width: 130px;
        margin-bottom: 23%;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .publications__btn {
        font-size: 13px;
        padding: 11px 35px;
    }

    .publications-checkbox {
        overflow:hidden;
        padding-left:2px;
    }
}

@media (min-width: 768px) {
    .publications {
        margin-bottom: 70px;
    }

    .publications__content {
        background: url('../img/publications768.jpg') no-repeat;
        background-position: center;
    }

    .checkbox-list-item {
        margin-bottom: 0;
        padding-bottom: 0;
        width: auto;
        border-bottom: none;
    }

    .categories:hover::before,
    .categories:active::before {
        border-bottom: none;
        border-left: none;
        transition: color .4s linear;
    }

    .categories::before {
        border-bottom: none;
        border-left: none;
    }

    .categories {
        border: none;
        margin-bottom: 8px;
        padding: 0;
    }

    .publications__checkbox-content {
        flex-direction: row;
    }
    
    .categories:hover {
        color:#fff;
        transition: color .4s linear;
    }

    .publications-swiper {
        padding-bottom: 315px;
        width: 614px;
    }

    .publications__heading {
        margin-bottom: 27px;
        padding-top: 48px;
    }

    .checkbox-select {
        margin-bottom: 31px;
    }

    .publications__form {
        margin-bottom: 2px;
    }

    .publications .slider-button {
        position: absolute;
        display: flex;
        padding-top: 45px;
        z-index: 11;
    }

    .publications-slider {
        height: 320px;
    }

    .publications-slider:nth-child(n+3) {
        margin-top: 0;
    }

    .slider4 {
        flex-wrap: nowrap;
        top: 108px;
    }

    .checkbox-list:not(:last-child) {
        margin-right: 54px;
    }

    .publications__btn {
        font-size: 16px;
        left: 0;
        padding: 8px 20px;
        letter-spacing: 1px;
    }

    .publications__card-heading {
        padding-top: 115%;
        margin-bottom: 4px;
        font-size: 16px;
        letter-spacing: .5px;
    }
    
    .publications__text {
        margin-bottom: 7%;
        font-size: 16px;
        width: 400px;
    }

    .publications-span {
        font-size: 16px;
        right: 0px;
        top: 105%;
    }

    .publications .swiper-pagination-fraction {
        position: static;
        display: block;
        font-size: 16px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .publications {
        margin-top: 81px;
    }

    .publications .swiper-container {
        padding-top: 100px;
    }

    .publications-container {
        flex-direction: row;
    }

    .publications-swiper {
        padding-bottom: 0;
    }

    .publications__content {
        background: url('../img/publications1024.jpg') no-repeat;
        background-position: center;
        padding-bottom: 77px;
    }

    .publications__left {
        margin-right: 18px;
    }

    .publications__checkbox-content {
        flex-direction: column;
    }

    .checkbox-select {
        margin-bottom: 35px;
    }

    .checkbox-list:not(:last-child) {
        margin-right: 0;
    }

    .publications__right {
        width: 629px;
    }

    .publications__card-heading {
        padding-top: 116%;
        font-size: 16px;
        width: 152px;
    }

    .publications__btn {
        padding: 9px 20px;
        letter-spacing: 1px;
    }

    .publications-swiper {
        width: 630px;
    }

    .publications-slider {
        height: 320px;
    }

    .publications-span {
        right: -1%;
        top: 105%;
    }

    .publications .slider-button {
        padding-top: 14px;
    }

    .publications__heading {
        padding-top: 33px;
    }

    .publications__text {
        margin-bottom: 6%;
    }

    .slider4 {
        top: 73px;
    }
}

@media (min-width: 1900px) {
    .publications__content {
        background: url('../img/publications1920.jpg') no-repeat;
        padding-bottom: 76px;
        background-color: #000;
        background-position: center;
    }

    .publications__left {
        margin-right: 172px;
    }

    .publications__right {
        width: 1120px;
    }

    .publications-swiper {
        width: 1150px;
    }

    .publications-slider {
        height: 390px;
    }

    .publications__card-heading {
        padding-top: 119%;
        margin-bottom: 5px;
    }

    .publications__btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .publications-span {
        right: -1%;
        top: 107%;
    }
}

